<section class="add-inventory">
    <div class="container">
        <h1 class="page-title">
            <%= title %>
        </h1>

        <p>Confirm Deletion - The delete is permanent.</p>

        <% if (message && message.length) { %>
            <div class="notice">
                <%= message[0] %>
            </div>
            <% } %>

                <% if (errors && errors.length) { %>
                    <ul class="notice">
                        <% errors.forEach(function (error) { %>
                            <li>
                                <%= error.msg %>
                            </li>
                            <% }) %>
                    </ul>
                    <% } %>

                        <form action="/inv/delete" method="post" class="form">
                            <input type="hidden" name="inv_id" value="<%= inv_id %>" />

                            <label for="inv_make">Make</label>
                            <input type="text" id="inv_make" name="inv_make" value="<%= inv_make %>" readonly />

                            <label for="inv_model">Model</label>
                            <input type="text" id="inv_model" name="inv_model" value="<%= inv_model %>" readonly />

                            <label for="inv_year">Year</label>
                            <input type="number" id="inv_year" name="inv_year" value="<%= inv_year %>" readonly />

                            <label for="inv_price">Price</label>
                            <input type="number" id="inv_price" name="inv_price" value="<%= inv_price %>" readonly />

                            <button type="submit">Delete Vehicle</button>
                        </form>
    </div>
</section>
